{% extends "TonerBundle:Default:categoria.html.twig" %}                      
{% block body %}
    	<section id="content">
	
	<div class="container">
		<div class="row">
                    <div class="col-lg-12">
                        <h2>Acerca de nosotros </h2>
			<hr class="colorgraph">      
                    </div>
		 
                    <div class="col-lg-12" style="color: black; text-align: justify;">
                        <p>
                        Hace poco más de 10 años se inició Toner-economico.com con la firme decisión 
                        de ofrecer una línea de consumibles económicos para impresoras 
                        láser que tuvieran una calidad similar  a los cartuchos originales,
                        manteniendo siempre precios inferiores a la media y procurando entregarle al  
                        consumidor del área metropolitana de la CDMX la mejor relación calidad-precio posible.
                        </p>
                        <p>Gracias al énfasis en la atención personalizada a nuestros clientes aunada a una 
                            óptima calidad  en todas nuestras líneas de producto, en pocos años nos hemos 
                            consolidado como una de las mejores opciones para la adquisición de consumibles 
                            para impresión laser. Hoy ofrecemos cientos de productos  de marca original y 
                            también productos remanufacturados y compatibles importados. 
                        </p>
                        <p>Tenemos la fortuna de contar entre nuestros clientes a las empresas más
                            prestigiadas en todos los ramos.
                        </p>
                        <p>La mayoría de las órdenes se envían de forma gratuita a partir de cualquier monto. 
                            Hoy en día, contamos con la logística necesaria para entregar nuestros productos 
                            el mismo día e, incluso, en un par de horas después de confirmado el pedido del 
                            cliente, cobramos a meses sin intereses y utilizamos todos los medios para
                            facilitar al máximo el proceso de compra.
                        </p>
                        <p>Ofrecemos cotizaciones de precios personalizados para los compradores
                            corporativos, institucionales y militares. Procuramos ahorros
                            significativos a su organización en la adquisición de suministros de 
                            calidad. 
                        </p>
                        <p>Si necesita ayuda en la localización de un producto, o simplemente tiene
                            una pregunta. Con nosotros encontrará personas con amplia experiencia
                            para resolver sus inquietudes.
                        </p>
                        <p>Más de 10,000  órdenes procesadas desde que comenzamos como un equipo de 2 personas.</p>
                        <p>Denos una oportunidad y se dará cuenta de que el servicio y el precio son parte fundamental 
                            de nuestra oferta.
                        </p>
                        <p><strong>Gracias por conocer un poco mas de Toner-económico.com</strong></p>
                    </div>
                    
		

                 </div>
                    
                    
	</div>
	
	</section>
     

            
{% endblock %}                     
	
        
       
