{% extends "TonerBundle:Default:categoria.html.twig" %}                      
{% block body %}
    	<section id="content">
	
	<div class="container">
		<div class="row">
                    <div class="col-lg-12">
                        <h2>Privacidad </h2>
			<hr class="colorgraph">      
                    </div>
		 
                    <div class="col-lg-12" style="color: black; text-align: justify;">
                        <p>
                        Toner económico.com®  en cumplimiento de la Ley de Protección de datos Personales en Posesión de Particulares, pone a disposición del público en general su política de privacidad, confidencialidad y manejo de datos personales.
Entidad Responsable de la información
Toner-economico.com®  con domicilios en: Dr Velasco 193 despacho 101 en la Colonia Doctores C.P. 06720, es la entidad responsable del tratamiento de sus datos personales del uso que se le dé a los mismos y de su protección. Para cualquier información relacionada con este aviso de privacidad puede dirigirse a la Dirección de relaciones institucionales, ubicada en la dirección: Dr Velasco 193 despacho 101 en la Colonia Doctores C.P. 06720 o bien puede enviarnos un correo electrónico a ventas@toner-economico.com
Vías para recabar sus datos personales y tipos de datos
Los datos personales pueden ser recabados de distintas formas: cuando usted nos los proporciona directamente, cuando visita nuestro sitio de Internet o por diversos medios, como cuando obtenemos información a través de otras fuentes que están permitidas por la ley. Esta política de privacidad ampara todos los datos compartidos voluntariamente por el usuario en esta solicitud, nuestro sitio web y/o servicios en línea. Los datos que recabamos de forma directa o cualquier otro medio permitido por la ley son: Nombre Completo, Dirección, Teléfono, RFC, Correo Electrónico, y otros datos de carácter personal necesarios que requiera el Responsable de los datos para efectos de compra/venta, entrega, envíos de paquetería y servicio que el cliente requiera. Todos los datos obtenidos serán resguardados por la Grupo Reto® / Toner-economico.com® y para el cumplimiento de sus fines podrá transferirlos con quienes tenga contratados servicios para el procesamiento de datos, para logística, productos y servicios, así como para ofrecerle los servicios de Toner-economico.com®  de cualquier tipo y los terceros que reciban datos personales para su tratamiento, sólo recibirán aquellos datos personales que requieran para realizar su labor.
Uso de Cookies
Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de internet específica, que permite recordar al servidor de Internet algunos datos sobre este usuario, entre ellos, monitorear el comportamiento de un visitante como almacenar información sobre la IP del usuario, duración del tiempo de página web, tipo de navegador utilizado, vínculos que sigue, entre otros. El tipo de datos recabados por nuestro sitio web y/o servicios en línea se utilizan únicamente con fines estadísticos y son: tipo de navegador, número de páginas visitadas, país/región desde la que nos visita, tiempo de permanencia en el sitio, y todos datos que se obtiene a través del servicio Google Analytics, para mayor información visite su sitio web (http://www.google.com/analytics/)
Finalidad de la información Obtenida
Los datos personales proporcionados por el usuario son utilizados para proveer información acerca de los servicios que ofrece Toner-economico.com® que puedan ser de su interés, informar cambios acerca de los mismos, evaluar la calidad de los servicios que brindamos, realizar análisis estadísticos, investigaciones de mercado, venta y distribución de productos y servicios y otras actividades relacionadas. Para el caso del personal para los procesos laborales que se apliquen y para los proveedores de servicios para la gestión de los procesos cliente proveedor que se establezcan.
Limitar uso o divulgación de sus datos
Usted puede dejar de recibir mensajes promocionales por teléfono fijo, celular o e-mail enviando un correo a la dirección ventas@toner-economico.com, donde nos indique Nombre Completo, Teléfono, E-mail y nos manifieste de manera explícita el tipo de servicio(s) que desea cancelar. Solicitar el acceso, la actualización, cancelación u oposición al tratamiento de datos personales Usted puede solicitar el acceso, la actualización de sus datos personales en caso de que sean inexactos o se encuentren incompletos o bien solicitar que sean eliminados de nuestras bases de datos si no está de acuerdo con los términos o con el tratamiento que se le están dando a sus datos personales. Para llevar a cabo cualquiera de las acciones anteriormente señaladas deberá enviar un correo electrónico a la dirección: ventas@toner-economico.com con los siguientes datos. • Nombre Completo • Documentos que acrediten su identidad y/o los del representante legal • Lada + Teléfono • Correo Electrónico • Tipo y descripción del servicio que solicita (Acceso, Actualización o Cancelación) Una vez que hayamos recibido su solicitud, le enviaremos un acuse de recibo electrónico con fecha de recepción de la solicitud. Posteriormente le daremos respuesta en un plazo máximo de 20 días hábiles.
Aceptación de términos
Está implícito que una vez que ha llenado y registrado sus datos en nuestra página web o proporcionado sus datos voluntariamente a algún representante de ventas o servicios significa que ha leído, entendido y aceptado los términos antes expuestos. En caso de no estar de acuerdo con ellos, el usuario no deberá proporcionar información personal, ni utilizar este servicio o cualquier información relacionada.
Actualizaciones o Cambios a Política de privacidad
Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de políticas internas, nuevos requerimientos para la presentación u ofrecimiento de nuestros servicios. Dichas modificaciones estarán disponibles al público a través de nuestra página de internet http://www.toner-economico.com

                        </p>
                        
                    </div>
                    
		

                 </div>
                    
                    
	</div>
	
	</section>
     

            
{% endblock %}                     
	
        
       
