{% extends "TonerBundle:Default:categoria.html.twig" %}                      
{% block body %}
    	<section id="content">
	
	<div class="container">
		<div class="row">
                    <div class="col-lg-12">
                        <h2>Marca Samsung </h2>
			<hr class="colorgraph">      
                    </div>
		 
                    <div class="col-lg-12" style="color: black; text-align: justify;">
                        <pre style="font-family: 'Roboto', sans-serif;">
<strong>SAMSUNG MONOCROMÁTICO</strong>

<strong>Tóner. Samsung. ML-1210D3</strong>  Rendimiento aproximado: 2,500 pág. Color: Negro. Compatibilidad: ML-1210 / 1220M / 1250 / ML-1430.
<strong>Tóner. Samsung. ML-6060D6</strong>  Rendimiento aproximado: 6,000 pág. Color: Negro. Compatibilidad: ML-1440 / 1450 / 1451N.
<strong>Tóner. Samsung. ML-1710D3</strong>  Rendimiento aproximado: 3,000 pág. Color: Negro. Compatibilidad: ML-1500 / ML-1510 / ML-1710 / ML-1740 / ML-1750.
<strong>Tóner. Samsung. ML-2250D5</strong>  Rendimiento aproximado: 5,000 pág. Color: Negro. Compatibilidad: ML-2250 / ML-2251N.
<strong>Tóner. Samsung. ML-2150D8</strong> Rendimiento aproximado: 8,000 pág. Cartucho de color: Negro. Compatibilidad: ML-2150 / 2151N / 2152W.
<strong>Tóner. Samsung. ML-1610D2</strong> Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: ML-1610.
<strong>Tóner. Samsung. ML-2010D3/XAX</strong> Rendimiento aproximado: 3,000 pág. Cartucho de color: Negro. Compatibilidad: ML-2510 / ML-2570 / ML-2571N.
<strong>Tóner. Samsung. ML-D3050A/XAX</strong> Rendimiento aproximado: 4,000 pág. Cartucho de color: Negro. Compatibilidad: ML-3051N / ML-3051ND.
<strong>Tóner. Samsung. ML-3560DB/XAX</strong>  Rendimiento aproximado: 12,000 pág. Cartucho de color: Negro. Compatibilidad: ML-3560 / ML-3561N / ML-3561ND.
<strong>Tóner. Samsung. ML-D3051B/XAX</strong>  Rendimiento aproximado: 8,000 pág. Cartucho de color: Negro. Compatibilidad: ML-3051N / ML-3051ND.
<strong>Tóner. Samsung. ML-D4550A</strong> Rendimiento aproximado: 20,000 pág. Cartucho de color: Negro. Compatibilidad: ML-4551N / ML-4551ND.
<strong>Tóner. Samsung. ML-D1630A </strong> Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: ML-1630 / SCX-4500.
<strong>Tóner. Samsung. MLT-D108S</strong>  Rendimiento aproximado: 1,500 pág. Cartucho de color: Negro. Compatibilidad: ML-1640 / ML-2240.
<strong>Tóner. Samsung. ML-D2850A</strong>  Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: ML-2851ND.
<strong>Tóner. Samsung. ML-D3470B</strong>  Rendimiento aproximado: 10,000 pág. Cartucho de color: Negro. Compatibilidad: ML-3470D / ML-3471ND.
<strong>Tóner. Samsung. ML-3560D6/SEE</strong>  Rendimiento aproximado: 6,000 pág. Cartucho de color: Negro. Compatibilidad: ML-3560 / ML-3561N / ML-3561ND.
<strong>Tóner. Samsung. ML-D4550B</strong>  Rendimiento aproximado: ALTO REND pág. Cartucho de color: Negro. Compatibilidad: ML-4050 / ML-4051N / ML-4550 / ML-4551N.
<strong>Toner Samsung. MLT-D105L</strong> Rendimiento aproximado: Alto Rendimiento 2500pág.. Cartucho de color: Negro. Compatibilidad: ML-1910 / ML-1915 / ML-2525 / ML-2525W / ML-2580N / SCX-4600 / SCX-4623F / SCX-4623FN.
<strong>Tóner. Samsung. MLT-D105S/XAX</strong>  Rendimiento aproximado: 1,500 pág. Cartucho de color: Negro. Compatibilidad: ML-1910 / ML-1915 / ML-2525 / ML-2525W / ML-2580N / SCX-4600 / SCX-4623F / SCX-4623FN.
<strong>Tóner. Samsung.. MLT-D104S/XAX</strong>  Color: Negro. Rendimiento: 1,500 págs. Compatible con:. ML-1660 / ML-1670 / ML-1675 / ML-1865W / SCX-3200.
<strong>Tóner. Samsung.. MLT-D101S/XAX</strong>  Color: Negro. Rendimiento: 1,500 págs. Compatible con:. ML-2165W / SCX-3405FW / SF-760P
<strong>Tóner. Samsung.. MLT-D103S/XAX</strong>  Color: Negro. Rendimiento: 1,500 págs. Compatible con:. ML-295X SERIES / SCX-472X SERIES
<strong>Tóner. Samsung.. MLT-D111S/XAX</strong>  Color: Negro. Rendimiento: 1,500 págs. Compatible con:. 2070w
<strong>Tóner. Samsung. MLT-D205S/XAX</strong>  Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: ML-3310ND / ML-3710ND.
<strong>Tóner. Samsung. SCX-4521D3</strong>  Rendimiento aproximado: 3,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4521.
<strong>Tóner. Samsung. SCX-4216D3</strong> Rendimiento aproximado: 3,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4016 / SCX-4216.
<strong>Tóner. Samsung. SCX-4100D3</strong>  Rendimiento aproximado: 3,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4100.
<strong>Tóner. Samsung. SCX-D4200A</strong>  Rendimiento aproximado: 3,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4200.
<strong>Tóner. Samsung. MLT-D109S</strong> Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4300.
<strong>Tóner. Samsung. SCX-D4725A</strong> Rendimiento aproximado: 3,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4725.
<strong>Tóner. Samsung. SCX-D5530A</strong> Rendimiento aproximado: 4,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-5530FN.
<strong>Tóner. Samsung. SCX-6320D8</strong>  Rendimiento aproximado: 8,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-6320 / SCX-6122FN / SCX-6322DN.
<strong>Tóner. Samsung. SCX-4720D3</strong>  Rendimiento aproximado: 3,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4720.
<strong>Toner. Samsung. MLT-D209L</strong> Rendimiento aproximado: 5000pág.. Cartucho de color: Negro. Compatibilidad: SCX-4824FN, SCX-4828FN, ML-2855ND
<strong>Tóner. Samsung. MLT-D209S </strong> Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: SCX-4828FN / ML-2855ND.
<strong>Toner Samsung MLT-203L</strong> Rendimiento aproximado 5,000 pág. Cartucho de color: Negro Compatibilidad: SL-M3820 / SL-M3870 / SL-M4020 / SL-M4070
<strong>Toner. Samsung MLT-116L</strong> Rendimiento aproximado: 3,000pág Cartucho de color Negro. Compatibilidad: Xpress SL-M2625 / 2626 / 2825 / 2826, M2675 / 2676 / 2875 / 2876


<strong>SAMSUNG COLOR</strong>

<strong>Tóner. Samsung. CLP-500D</strong>7K  Rendimiento apróximado: 7,000 pág. Cartucho de color: Negro. Compatibilidad:  CLP-500.
<strong>Tóner. Samsung. CLP-500D</strong>5C  Rendimiento aproximado 5,000 pág. Cartucho de color: Cyan. Compatibilidad: CLP-500.
<strong>Tóner. Samsung. CLP-500D</strong>5M Rendimiento aproximado 5,000 pág. Cartucho de color: Magenta. Compatibilidad:  CLP-500.
<strong>Tóner. Samsung. CLP-510D</strong>7K Rendimiento aproximado: 7,000 pág. Cartucho de color: Negro. Compatibilidad: CLP-510.
<strong>Tóner. Samsung. CLP-510D</strong>5M Rendimiento aproximado: 5,000 pág. Cartucho de color: Magenta. Compatibilidad: CLP-510.
<strong>Tóner. Samsung. CLP-510D</strong>5Y  Rendimiento aproximado: 5,000 pág. Cartucho de color: Amarillo. Compatibilidad: CLP-510.
<strong>Tóner. Samsung. CLP-K300A </strong>Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: CLP-300, CLX-2160N, CLX-3160FN.
<strong>Tóner. Samsung. CLP-C300A</strong> Rendiemiento apróximado: 1,000 pág. Cartucho de color: Cyan. Compatibilidad: CLP-300 / CLX-2160N / CLX-3160FN.
<strong>Tóner. Samsung. CLP-M300A</strong> Rendimiento apróximado: 1,000 pág. Cartucho de color: Magenta. Compatibilidad: CLP-300 / CLX-2160N / CLX-3160FN.
<strong>Tóner. Samsung. CLP-Y300A</strong> Rendimiento apróximado: 1,000 pág. Cartucho de color: Amarillo. Compatibilidad: CLP-300 / CLX-2160N / CLX-3160FN.
<strong>Tóner. Samsung. CLP-K310A</strong> Rendimiento aproximado: 2,000 pág. Cartucho de color: Negro. Compatibilidad: CLP-310/315/CLX-3175N NEGRO.
<strong>Tóner. Samsung. CLP-C310A</strong> Rendiemiento apróximado: 1,000 pág. Cartucho de color: Cyan. Compatibilidad: CLP-310/315/CLX-3175N CYAN.
<strong>Tóner. Samsung. CLP-M310A</strong> Rendimiento apróximado: 1,000 pág. Cartucho de color: Magenta. Compatibilidad: CLP-310/315/CLX-3175N MAGENTA.
<strong>Tóner. Samsung. CLP-Y310A</strong> Rendimiento apróximado: 1,000 pág. Cartucho de color: Amarillo. Compatibilidad: CLP-310/315/CLX-3175N AMARILLO.
<strong>Tóner. Samsung. CLT-K407S</strong>  Rendimiento aproximado: 1,500 pág. Consumible Color: Negro. Compatible: CLP-320, CLP-325 , CLX-3185.
<strong>Tóner. Samsung. CLT-C407S</strong>  Rendimiento aproximado: 1,500 pág. Consumible Color: Cyan.  Compatibilidad:  CLP-320, CLP-325 , CLX-3185 .
<strong>Tóner. Samsung. CLT-M407S</strong>  Rendimiento aproximado: 1,500 pág. Consumible Color: Magenta.  Compatibilidad:  CLP-320, CLP-325 , CLX-3185 .
<strong>Tóner. Samsung. CLT-Y407S</strong>  Rendimiento aproximado: 1,500 pág. Consumible Color: Amarillo.  Compatibilidad:  CLP-320, CLP-325 , CLX-3185 .
<strong>Tóner. Samsung. CLT-K409S </strong> Rendimiento aproximado: 1,500 pág. Cartucho de color: Negro. Compatibilidad: CLP-310 / CLP-315 / CLX-3170FN / CLX-3175FN.
<strong>Tóner. Samsung. CLT-C409S</strong>  Rendimiento aproximado: 1,000 pág. Cartucho de color: Cyan. Compatibilidad: CLP-310 / CLP-315 / CLX-3170FN / CLX-3175FN
<strong>Tóner. Samsung. CLT-M409S</strong>  Rendimiento aproximado: 1,000 pág. Cartucho de color: Magenta. Compatibilidad: CLP-310 / CLP-315 / CLX-3170FN / CLX-3175FN.
<strong>Tóner. Samsung. CLT-Y409S</strong>  Rendimiento aproximado: 1,000 pág. Cartucho de color: Amarillo. Compatibilidad: CLP-310 / CLP-315 / CLX-3170FN / CLX-3175FN.
<strong>Tóner. Samsung. CLT-K406S</strong>  Rendimiento aproximado: 1,500 pág. Cartucho de color: Negro. Compatibilidad: CLP-365W
<strong>Tóner. Samsung. CLT-C406S</strong>  Rendimiento aproximado: 1,000 pág. Cartucho de color: Cyan. Compatibilidad: CLP-365W
<strong>Tóner. Samsung. CLT-M406S</strong>  Rendimiento aproximado: 1,000 pág. Cartucho de color: Magenta. Compatibilidad: CLP-365W
<strong>Tóner. Samsung. CLT-Y406S</strong>  Rendimiento aproximado: 1,000 pág. Cartucho de color: Amarillo. Compatibilidad: CLP-365W
<strong>Tóner. Samsung. CLT-K504S</strong> Rendimiento aproximado: 2,500 pág. Cartucho color: Negro. Compatibilidad: CLX-4170, CLX-4195FW, CLP-415N, CLP-415NW, CLP-470, CLP-475.
<strong>Tóner. Samsung. CLT-C504S</strong> Rendimiento aproximado: 1,800 pág. Cartucho color: Cyan. Compatibilidad: CLX-4170, CLX-4195FW, CLP-415N, CLP-415NW, CLP-470, CLP-475.
<strong>Tóner. Samsung. CLT-M504S</strong> Rendimiento aproximado: 1,800 pág. Cartucho color: Magenta. Compatibilidad: CLX-4170, CLX-4195FW, CLP-415N, CLP-415NW, CLP-470, CLP-475.
<strong>Tóner. Samsung. CLT-CY504S</strong> Rendimiento aproximado: 1,800 pág. Cartucho color: Amarillo. Compatibilidad: CLX-4170, CLX-4195FW, CLP-415N, CLP-415NW, CLP-470, CLP-475.
                        </pre>
                    </div>
                    
		

                 </div>
                    
                    
	</div>
	
	</section>
     

            
{% endblock %}                     
	
        
       
